{% extends 'news/articlesBase.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/newsPage.css') }}">
{% endblock %}

{% block edit %}
    <li><a href="#">Edit</a></li>
    <li><a href="#">Delete</a></li>
{% endblock %}

{% block content %}
    <h1 class="page-header">
        {{ article.title }}
        <small><span class="badge">{{ article.getView }}</span></small>
    </h1>
    <div class="row">
        <div class="col-md-2">
            <p>{{ article.date|date("d.m.Y H:i") }}</p>
        </div>
        <div class="col-md-3">
            <p>{{ article.author.username }}</p>
        </div>
        <div class="col-md-7">
            <p>{{ article.category.name }}</p>
        </div>
    </div>
    <div class="container">
        <img src="{{ article.image }}" class="img-responsive center-block article-img" alt="Image">
        <p>
            {{ article.text }}
        </p>
    </div>
{% endblock %}
