{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/signin.css') }}">
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block body %}
    <div class="container panelForm">
        <a href="{{ path('homepage') }}">
            <img src="{{ asset('NewsLogo.jpg') }}" class="logo" alt="logo">
        </a>

        {% block form %}{% endblock %}
    </div>

    {% if Message != '' %}
        <div class="form-signin">
            <div class="alert alert-info" role="alert">{{ Message }}</div>
        </div>
    {% endif %}
{% endblock %}